body, html {
	font-family: Verdana, Geneva, Arial, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	background: #dadacf;
}

#header {
	position: relative;
	height: 13%;
	background: #14805e;
	width: 100%;
	color: white;
	border-bottom: 1px solid white;
}

#logo {
	width: 150px;
	position: absolute;
	top: 16%;
	left: 2%;
}

#logo a img {
	width: 150px;
}

#languages {
	font-size: 12px;
	position: absolute;
	left: 45%;
	top: 35px;
}

#languages a {
	color: white;
	text-decoration: none;
}

#user-menu {
	width: 400px;
	height: 80px;
	font-size: 10px;
	display: inline-block;
	float: right;
	top: 0px;
	right: 20px;
	text-align: right;
	position: absolute;
}

#user-register {
	position: absolute;
	right: 200px;
	top: 55px;
}

#user-register  a {
	text-decoration: none;
	color: #ffdf1b;
}

#remember {
	display: inline-block;
	position: relative;
	right: 24px;
	top: 6px;
	color: #ffdf1b;
}

#rememberinput {
	width: 12px;
	height: 12px;
}

#salir {
	display: block;
}

#ingresar {
	display: block;
}

#user-register a :hover {
	text-decoration: underline;
	color: #ffdf1b;
}

#usuario a {
	text-decoration: none;
	color: #ffdf1b;
}

#usuario a :hover {
	text-decoration: underline;
	color: #ffdf1b;
}

#usuario {
	position: absolute;
	width: 200px;
	height: 70px;
	top: 15px;
	right: 90px;
	text-align: right
}

#usuario p {
	display: inline-block;
}

#login {
	position: absolute;
	bottom: 20px;
	width: 370px;
	right: 0px;
	top: 20px;
}

#desplegable {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 15px;
	right: 0px;
}

#userimage {
	width: 64px;
	height: 64px;
}

#divbanco {
	width: 50%;
	min-height: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.logininput {
	background-color: #127052;
	width: 160px;
	height: 20px;
	border: none;
	color: #4acfa5;
}

#login input::placeholder {
	color: #4acfa5;
}

#login button {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-weight: 800;
	text-align: center;
	min-width: 25px;
	padding: 0 2px;
	margin-left: 5px;
	margin-top: 1px;
	height: 23px;
	background-color: #ddd;
	color: #14805e;
	font-size: 12px;
	border-radius: 1px;
	cursor: pointer;
	outline: 1px solid transparent;
	border: none;
}

#register-form {
	display: block;
	min-height: 75%;
	margin-bottom: 2%;
}

#search-form {
	padding-top: 1%;
	min-height: 3%;
	background: #14805e;
	text-align: center;
	padding-bottom: 1%;
	color: white;
}

#search-form label, #findhistorial label {
	font-size: 0.70em;
}

#login-form {
	min-height: 75%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#participanteseacrh input {
	width: 120px;
}

#carrito {
	position: absolute;
	font-size: 10px;
	margin-right: 2%;
	margin-top: 1%;
	background: #545454;
	width: 20%;
	top: 20%;
	right: 0%;
	color: white;
	border-radius:5px;
}

.lineacarrito {
	position: relative;
	font-size: 10px;
}

.lineacarrito a {
	position: absolute;
	top: 0px;
	right: 2px;
	text-decoration: none;
}

.lineacarrito p {
	padding-right: 40px;
	display: inline-block;
	margin-left: 2px;
}

.cuota {
	margin: 2px 0px 2px;
	right: 10px;
	background: #888;
	border-radius: 5px;
	position: inherit;
	text-align: center;
	display: inline-block;
	width: 30%;
	height: 30px;
	padding-top: 5px;
}

.cuota p {
	display: inline;
}

.cuota:hover {
	background: #8a9e82;
	color: black;
}

.cont {
	width: 140px;
}

.carrito-bttn {
	width: 60% !important;
	padding: 1px;
	display: inline-block;
	border: none;
	border: 1px solid #14805e;
	border-radius: 5px;
	width: 12%;
	display: inline-block;
}

#carrito input {
	width: 25%;
}

#importe {
	margin-left: 11px;
}

#home {
	left: 5%;
	/* background: #888; */
	display: block;
	width: 65%;
	min-height: 75%;
	float: left;
	position: relative;
	margin-bottom: 2%;
}

#contenido {
	min-height: 75%
}

.results {
	background: #545454;
	border-radius: 5px;
}

.results a {
	text-decoration: none;
	color: white;
}

.results a:hover {
	text-decoration: none;
	color: #ffdf1b;
}

.tituloresult {
	padding: 10px 20px 0px;
	color: #ffdf1b;
}

.mercado {
	text-decoration: none;
	color: white;
	display: block;
}

#detalle {
	left: 5%;
	background: #545454;
	display: block;
	width: 65%;
	min-height: 75%;
	float: left;
	position: relative;
}

.detalleeven {
	border-radius: 4px;
	background: #888;
	margin: 2%;
	padding: 2%;
	color: white;
}

.titulodetalle {
	padding-top: 5px;
	position: relative;
	width: 100%;
	background: #14805e;
	color: white;
	height: 30px;
	display: block;
	top: 0px;
	margin: 0px;
	margin-top: 2px;
}

.titulomercado {
	width: 100%;
	padding-top: 5px;
	position: relative;
	width: 100%;
	background: #888;
	color: white;
	height: 30px;
	display: block;
	top: 0px;
	margin: 2px 0px 2px;
	border-radius: 5px;
}

li, ul {
	list-style: none;
}

#footer {
	width: 100%;
	background: #888;
	clear: both;
	position: relative;
	margin-top: 0px;
	min-height: 20%;
	text-align: center;
}

.dfoot {
	font-size: 0.75em;
	color: white;
	padding-top: 1%;
}

#footer hr {
	width: 70%;
}

#footer a {
	color: white;
	text-decoration: none;
}

.img {
	margin: 1%;
}

#findhistorial {
	padding-top: 1%;
	min-height: 3%;
	background: #14805e;
	text-align: center;
	padding-bottom: 1%;
	color: white;
}

#findfecha {
	margin-left: -5px;
	display: inline;
}

.resultados {
	display: flex;
	justify-content: space-around;
}

#history {
	min-height: 75%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	margin-top: 2%;
}

.apuestahistorial {
	margin-top: 16px;
	background: white;
	padding: 5px 20px 5px;
	position: relative;
	border-radius: 5px;
}

.apuestahistorial p {
	margin-top: 5px;
}

.fechaapuesta {
	display: inline-block;
}

.idapuesta {
	position: absolute;
	top: 5px;
	right: 10px;
}

.masdetalles {
	float: right;
	position: absolute;
	bottom: 0px;
	right: 10px;
}

.lineadetalle {
	border: 1px solid grey;
	position: relative;
	margin-bottom: 2px;
	height: 100px;
	border-radius: 5px;
	background: #dadacf;
}

.lineadetalle p {
	position: absolute;
}

.detres {
	left: 2%;
	top: 5%;
}

.detcuot {
	right: 2%;
	top: 5%;
}

.detev {
	top: 38%;
	left: 2%;
}

.dettipres {
	top: 70%;
	left: 2%;
}

.detest {
	top: 70%;
	right: 2%;
}

.acertada {
	color: green;
}

.fallada {
	color: #b70100;
}

.pendiente {
	color: orange;
}

/*Menu desplegable*/
.menudes {
	position: relative;
	display: inline-block;
}

.menudes-contido {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 150px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: -15px;
	text-align: left;
}

.menudes-contido a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropbtn {
	color: white;
	padding: 0px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
}

.menudes a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

.contenedor {
	content: "";
	display: table;
	clear: both;
	padding: 0.01em 16px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.contenedor-carrito{
	text-align: center;
    content: "";
    display: table;
    clear: both;
    padding: 0.01em 16px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.contenedor-header {
	content: "";
	display: table;
	clear: both;
	padding: 0.01em 16px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	text-align: center;
	font-size: 1.2em;
}

.contenedor-grey {
	content: "";
	display: table;
	clear: both;
	padding: 2em 6em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background: #888;
	border-radius: 5px;
}

.contenedor label {
	margin: 2%;
}

.my-input {
	padding: 8px;
	display: block;
	border: none;
	border: 1px solid #14805e;
	border-radius: 5px;
	width: 97%;
}

.my-little-input {
	padding: 1px;
	display: inline-block;
	border: none;
	border: 1px solid #14805e;
	border-radius: 5px;
	width: 12%;
	display: inline-block;
}

.green {
	padding: 0.01em 16px;
	color: #ffdf1b !important;
	background-color: #14805e !important;
	border-radius: 5px;
}

.my-button {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-weight: 800;
	text-align: center;
	min-width: 25px;
	padding: 0 2px;
	margin-left: 5px;
	margin-top: 1px;
	height: 23px;
	background-color: #ddd;
	color: #14805e;
	font-size: 12px;
	border-radius: 1px;
	cursor: pointer;
	outline: 1px solid transparent;
	border: none;
}

.hr {
	width: 70%;
	background-color: #14805e;
	height: 0.1em;
}